html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background: #000;
}

.header {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    grid-template-areas: 
    'menu logo . contacts';
    margin: 92px 49px 92px 50px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    grid-area: menu;
    list-style: circle;
}

.header-nav-list {
    float: left;
    padding-right: 32px;
    text-decoration: underline;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.unmarker {
    list-style-type: none;
    text-decoration: none;
}

.logo {
    width: 148px;
    height: 105px;
    grid-area: logo;  
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.contacts {
    grid-area: contacts;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    padding-right: 3px;
}

.cover {
    position: relative;
    min-height: 757px;
}

.cover-img{
    position: absolute;
    max-height:100%;
    z-index: -2;
}

.cover-title {
    display: flex;
    flex-direction: column;
    min-width: 1400px;
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding: 169px 50px 0;
}

.first-raw {
    display: block;
}

.second-raw {
    display: block;
    align-self: center;
    padding-top: 10px;
    padding-left: 40px;
}

.last-raw {
    display: block;
    align-self: flex-end;
    padding-top: 2px;
    margin-right: -70px;
}

.letter-spacing {
    letter-spacing: 60px;
}

.cover-button {
    position: absolute;
    text-transform: uppercase;
    border: 1px solid #FFF;
    top: 660px;
    left: 1133px;
    width: 257px;
    height: 52px;
    font-size: 22px;
    background-color: transparent;
    cursor: pointer;   
    color: #FFF;
}

.subline {
    position: absolute;
    top: 673px;
    left: 422px;
    font-size: 22px;
    line-height: 28px; 
    text-transform: uppercase;
    word-spacing: 18px;
    color: #FFF; 
}

.lots {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    inset: 185px 50px;
    min-height: 579px;
    width: 1340px;
    justify-content: space-between;
}

.lots-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    min-width: 100%;
}

.card {
    position: relative;
    margin-top: -30px;
    max-width: 430px;
    max-height: 450px;
    flex-grow: 1;
}

.card-link {
    color: white;
    position: absolute;
    inset: 50px 40px;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    width: 350px;
}

.card-description {
    position: absolute;
    left: 40px;
    bottom: 50px;
    color: #FFF;
    font-size: 20px;
    line-height: 120%;
    width: 350px;
}

.lots__look-more-link {
    position: absolute;
    left: 40px;
    bottom: 2px;
    font-size: 20px;
}

.about {
    position: relative;
    inset: 281px 50px;
    width: 1340px;
    min-height: 570px;
}

.logo-black {
    display: flex;
    position: absolute;
    inset: 82px 95px;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    align-items:center;
    justify-content: center;
}

.about-logo {
    width: 148px;
    height: 114px;
}

.about-description {
    position: absolute;
    top: 185px;
    left: 455px;
    bottom: 0;
}

.about-heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 100%;
}

.description {
    margin-top: 100px;
    font-size: 20px;
}

.footer {
    display: flex;
    margin: 460px 50px 50px;
    height: 100px;
    justify-content: space-between;
}

.footer-nav {
    margin-top: 2px;
    text-align: center;
    list-style: none;
    font-size: 18px;
}

.footer-nav-list {
    text-decoration: underline;
}

.socials {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.socials-link{
    width: 48px;
    height: 48px;
}

.socials-img {
    max-height:100%;
}





